<div class="container price">
    <div class="card" >
        <div class="card-body">
          <h5 class="card-title word-spacing">Resort Fees</h5>
          <h6 class="card-subtitle mb-2 text-muted word-spacing">For one night, varies with number of people</h6>
          <div class="card-text" style="text-align: center;">
           <div class="row">
             <div class="col-6 text-right  word-spacing"> 1 to 10 adults :</div>
             <div class="col-6 text-left  word-spacing"> 13,000 Rs</div>
           </div>
           <div class="row">
            <div class="col-6 text-right  word-spacing">  10 to 15 adults :</div>
            <div class="col-6 text-left  word-spacing"> 18,000 Rs</div>
          </div>
          <div class="row">
            <div class="col-6 text-right  word-spacing">  15 to 20 adults :</div>
            <div class="col-6 text-left  word-spacing"> 22,000 Rs</div>
          </div>
          <!-- <div class="row">
            <div class="col-6 text-right  word-spacing">  17 to 20 adults :</div>
            <div class="col-6 text-left  word-spacing"> 22,000 Rs</div>
          </div> -->
          <div class="row ">
            <div class="col-6 text-right  word-spacing"> 20+ adults :</div>
            <div class="col-6 text-left  word-spacing"> 21,000 Rs + 1000 Rs/extra for person </div>
          </div>
          </div>
        </div>
      </div>

      <button type="button" routerLink="/reservations" class=" reservation-button mt-2 mb-2 btn btn-outline-secondary float-center">Reserve</button> 
</div>
