<div class="container price">
    <div class="card" >
        <div class="card-body">
          <h5 class="card-title word-spacing" >We are accepting reservations only over phone.</h5>
          <h6 class="card-subtitle mb-2 text-muted word-spacing">Please give us a call, or drop a message with your name and reason, we will call you back.</h6>
          <div class="card-text  mt-3" style="text-align: center;">
            <a class="mt-5" href="tel:+919908959719">Phone: + 91 990 895 9719</a>
          </div>
        </div>
      </div>
</div>

