<img src="/assets/overview.jpg" class="img-fluid" alt="Responsive image">

<div class="shadow-lg p-3 mt-5 mb-5 bg-white rounded">
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
              <img src="/assets/front.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="/assets/balcony.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="/assets/hall.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="/assets/balcony2.jpg" class="d-block w-100" alt="...">
          </div>
        </div>
      </div>
  </div>

